.root{
    ciberGreen:#C0D72F;
    ciberPurple:#522e91;

    -fx-background-color: ciberGreen;
    -fx-font-size: 150px;
    width: 400px;
    height: 400px;
}
.label{
    -fx-text-fill: ciberPurple;
    -fx-alignment: center;
}
